@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --Green: rgb(196, 248, 42);
  --White: #ffffff;
  --Gray-900: rgb(20, 20, 20);
  --Gray-800: rgb(31, 31, 31);
  --Gray-700: rgb(51, 51, 51);

  --background: var(--Gray-900);
  --foreground: var(--White);
  --card: var(--Gray-800);
  --card-foreground: var(--White);
  --muted: var(--Gray-700);
  --muted-foreground: var(--White);
  --primary: var(--Green);
  --primary-foreground: var(--Gray-900);
  --input: var(--Gray-700);
  --ring: var(--Green);
  --border: var(--Gray-700);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Outfit", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background-color: var(--Gray-900);
  color: var(--White);

  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.8s ease-out forwards;
}
